body{
    color: white;
    background-color: black;
}
h1{
    display: grid;
    place-items: center;
}
.container{
    border: 2px solid red;
    height: 250px;
    box-shadow: 5px 5px 30px red;
}
input{
    margin-left: 475px;
    margin-top: 100px;
    height: 40px;
    width: 240px;
    font-size: 25px;
    background-color: darkblue;
    color: white;
    border: 2px solid darkblue;
    box-shadow: 5px 5px 10px red;
}
#copy{
    margin-left: 125px;
    height: 45px;
    width: 75px;
    font-size: 25px;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: bolder;
    background-color: aqua;
    color: indigo;
    border: 2px solid aqua;
    box-shadow: 4px 4px 10px pink;
}
#generate{
    margin-top: 155px;
    margin-left: 25px;
    height: 35px;
    width: 215px;
    font-size: 20px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    border: 3px solid yellow;
    border-radius: 8px;
    box-shadow: 5px 5px 15px yellow;
}
#copy:hover{
    background-color: darkblue;
    color: aqua;
}
#generate:hover{
    background-color: black;
    color: yellow;
}